---
---

@import "{{ site.theme }}";

header {
    .homelink {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }
    h2 {
        display: inline-block;
    }
    #downloads {
        display: inline-block;
        float: right;
    }
}

#main_content {
    img[alt="GrUSP"] {
        max-width: 200px;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
