---
---

@import "{{ site.theme }}";

header {
    h2 {
        display: inline-block;
    }
    #downloads {
        display: inline-block;
        float: right;
    }
}

#main_content {
    img[alt="GrUSP"] {
        max-width: 200px;
    }
}
